#home-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-container > .inner-container {
    text-align: center;
}

#home-container h1 {
    margin-bottom: 15px;
    font-size: 5em;
    text-shadow: 4px 4px 3px #9d00ff;
}

.active #home-container h1 {
    margin-bottom: 30px;
}

#access-btn {
    font-size: 2em;
    color: inherit;
    background-color: #9d00ff;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    margin-top: 15px;
}

#access-btn:hover {
    padding-right: 30px;
    padding-left: 30px;
    transition: .2s;
}

.active #access-btn {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
}

#search-container p {
    transform: translate(-50%, 0);
}

#search-field {
    transform: translate(50%, 0);
}

#search-container p, #search-field {
    opacity: 0;
    transition: .8s;
}

.active #search-container p, .active #search-field {
    transform: translate(0, 0);
    opacity: 1;
}